<!-- ejs page with header info to put on each page -->
<nav>
    <a href="pages/about_us.ejs"> The Devs </a>
    <a href="pages/index.ejs"> Home </a>
    <a href="pages/show.ejs"> My Superdex </a>
</nav>