<!-- ejs page with header info to put on each page -->
<h1> SuperDex Cookbook - Your Recipes, Your Way </h1>
<nav id="hamburger-menu">
    <a href="pages/about_us.ejs"> Whodunnit? </a>
    <a href="pages/index.ejs"> Home </a>
    <a href="pages/show.ejs"> My Superdex </a>
</nav>