<!-- this is the home page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  
<section>
<form action="/search" method="POST">
  <label for="search">Search</label>
  <input type="text" name="search">
  <input type="submit">
</form>

</section>

</body>
</html>