<!-- this is the home page -->

<%- include('layout/head.ejs') %>

<body>
    <%- include('layout/header.ejs') %>

    <section>
    
        <p> Welcome to SuperDex CookBook </p>
        
    </section>

    <section>

        <form action="/search" method="POST">
            <fieldset id="search">
                <legend> Search for Recipes </legend>
                <label for="search"> Enter Your Search Here </label>
                <input type="text" name="search" required>

                <input type="submit" value="Search"/>
            </fieldset>
        </form>

    </section>

    <%- include('layout/footer.ejs') %>
  
</body>

</html>