<!-- this page will show the saved recipes and the result recipes to the user  -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p id="message">Message</p>


  <!-- This form goes with each recipe on the results view. We'll need to use .ejs to put in the values. -->
  <form id="save-form" action="/save" method="POST">
    <input type="hidden", name="title", value="">
    <input type="hidden", name="image", value="">
    <input type="hidden", name="sourceUrl", value="">
    <input type="hidden", name="readyInMinutes", value="">
    <input type="hidden", name="servings", value="">
    <input type="hidden", name="api_id", value="">
    <input type="submit" value="Save Recipe">
</form>

<!-- This form goes with each recipe on the saved recipes view. We'll need to use .ejs to put in the values. -->
<form id="delete-form" action="/delete?_overrideMethod=DELETE" method="POST">
  <input type="hidden", name="id", value="">
  <input type="submit", value="Delete Recipe">
</form>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/app.js"></script>
  
</body>
</html>

