<!-- this page will show the saved recipes to the user - it will use the card.ejs to display the recipe information  -->
<<<<<<< HEAD

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>show</title>
</head>
<body>

  <section>
    <h1><%= list.menu[0].title %></h1>
  </section>
  
</body>
=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
</head>

<body>
    
</body>

>>>>>>> 8867a5ee5cab0dd72df4a7e5fec5a76ff75c1270
</html>