<!-- this page will show the saved recipes to the user - it will use the card.ejs to display the recipe information  -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
</head>

<body>
    
</body>

</html>