body {
    background-color: #F5F5DC;
}

section {
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(172, 214, 35)
}

.bio {
    background-repeat: no-repeat;
    background-image: url('styles/imgs/recipe_card.png');
    text-align: left;
}